<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/customizado.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="/" style="font-size: 32px;color: rgb(58,59,64);"><img src="images/logonew.png" style="width: 80px;height: 80px;margin-right: 15px;">FoodSpot</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto"></ul>
        </div>
        </div>
    </nav>
    <main class="page projects-page">
        <section class="portfolio-block projects-with-sidebar" style="padding-top: 100px;">
            <div class="container">
                <div class="heading">
                    <h2 class="text-left d-xl-flex" style="color: rgb(58,59,64);font-family: Lato, sans-serif;font-size: 26px;height: 0px;">Melhores avaliados</h2>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <% for(var i = 0; i < restaurants.length; i++) { %>
                                <% var restaurant = restaurants[i] %>
                            <div class="col-md-6 col-lg-4 project-sidebar-card contorno" style="background-color: #f5f5f5;">
                                <h1 style="font-size: 24px;margin-top: 10px;"><a href="detalhes?i=<%= restaurant._id %>"><%= restaurant.name %></a></h1><img class="img-fluid image scale-on-hover" src="images/nature/<%= getImage(restaurant.name) %>.jpg" style="margin-bottom: 10px;">
                                <p><%= getRate(restaurant.avaliacoes) %></p>
                                <h1 style="font-size: 17px;margin-bottom: 0px;"><%= restaurant.city %></h1>
                                <h1 style="font-size: 16px;"><%= restaurant.address %></h1>
                                <p class="d-xl-flex justify-content-xl-end align-items-xl-center">
                                    <a class="btn btn-primary border rounded" type="button" style="background-color: rgb(46, 87, 161);margin-left: 10px;padding-top: 4px;padding-bottom: 4px;" href="detalhes?i=<%= restaurant._id %>">Informações</a>
                                    <button class="btn btn-primary border rounded" type="button" style="background-color: rgb(232,99,10);margin-left: 10px;padding-top: 4px;padding-bottom: 4px;">Avaliar</button>
                                </p>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="col contorno" style="margin-left: 20px;opacity: 1;background-color: #f5f5f5;">
                        <p style="font-size: 24px;margin-top: 10px;">Buscar restaurante</p><input class="border rounded d-xl-flex" type="text"><button class="btn btn-primary" type="button" style="margin-bottom: 50px;margin-top: 10px;padding-right: 60px;padding-left: 60px;background-color: rgb(43,67,83);">Buscar</button>
                        <p
                            style="font-size: 24px;margin-bottom: 16px;">Sugerir restaurante</p>
                            <p style="margin-bottom: 0px;">Nome do restaurante</p><input class="border rounded d-xl-flex" type="text" style="margin-bottom: 30px;">
                            <p style="margin-bottom: 0px;">Localização</p><input class="border rounded" type="text" style="margin-bottom: 30px;">
                            <p style="margin-bottom: 0px;">Site</p><input class="border rounded" type="text">
                            <div></div><button class="btn btn-primary" type="button" style="margin-top: 20px;padding-right: 60px;padding-left: 60px;background-color: rgb(43,67,83);">Enviar</button></div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a class="d-xl-flex" href="#">Sobre o FoodSpot</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="javascript/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="javascript/theme.js"></script>
</body>

</html>